table{

  & > caption{
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }

  & td,
  & th{
    padding: .5rem 1rem;
  }

  & tbody{

    & tr{
      transition: all .3s ease-out;
    }
  }
}